.DS_STORE

# Node
node_modules

# Truffle
build

# Env
.env

# Eslint
.eslintcache

# Hardhat
artifacts
cache
typechain-types
gas-report.txt
deployments/localhost

# Solidity coverage
coverage
coverage.json
.coverage*

*.iml
.idea

# Foundry
forge-cache
out
