{
  "printWidth": 120,
  "overrides": [
    {
      "files": ["test/*.ts", "test/**/*.ts", "tasks/*.ts", "*.ts"],
      "options": {
        "semi": false,
        "singleQuote": true
      }
    },
    {
      "files": [
        "contracts/core/ChainlinkMainnetPriceProvider.sol",
        "contracts/core/ChainlinkAvalanchePriceProvider.sol",
        "contracts/core/ChainlinkPolygonPriceProvider.sol",
        "contracts/core/ChainlinkBasePriceProvider.sol",
        "contracts/core/ChainlinkOptimismPriceProvider.sol",
        "contracts/core/RedstoneHemiPushPriceProvider.sol",
        "contracts/core/PythMainnetPriceProvider.sol"
      ],
      "options": {
        "printWidth": 140
      }
    }
  ],
  "bracketSpacing": false
}
